<h1>Plantilla de productos</h1>
<h3>Bienvenido {{userFirst_name}} {{userLast_name}} Rol: {{role}}</h3>

<div>
    {{#each productsList}}
        <li>
            <strong>Title: </strong>{{this.title}} <br>
            <strong>Description: </strong>{{this.description}} <br>
            <strong>Code: </strong>{{this.code}} <br>
            <strong>Price: </strong>{{this.price}} <br>
            <strong>Status: </strong>{{this.status}} <br>
            <strong>Stock: </strong>{{this.stock}} <br>
            <strong>Category: </strong>{{this.category}} <br>
            <form action="/api/carts/645fff8b913ceb1e9a591293/product/{{this.id}}" method="post">
                <input type="submit" value="Agregar al carrito">
            </form>
            
            <br>
        </li>
    {{/each}}

</div>

<center>
    {{#if hasPrevPage}}
        <a href="/products?limit={{productLimit}}&&page={{prevPage}}"><button>Pagina Anterior</button></a>
    {{/if}}

      {{#if hasNextPage}}
        <a href="/products?limit={{productLimit}}&&page={{nextPage}}"><button>Pagina Siguiente</button></a>
    {{/if}}
</center>

<form action="/api/session/logout" method="GET">
                <input type="submit" value="Logout">
            </form>